.column {
	width: 235px;
	height: auto;
}

.column h2 {
	font-family: Inter, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
}

.column-tasks {
	border-radius: 8px;
	border: 1px solid #d6d8db;
	height: auto;
	padding: 24px;
	min-height: 450px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
}

.column-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.column-buttons {
	display: flex;
	gap: 8px;
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

.column:hover .column-buttons {
	opacity: 100%;
}

.column-tasks-drag {
	border: 3px dotted black;
}
