.kanban-board {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	padding-bottom: 150px;
}

.kanban-columns-list {
	display: flex;
	gap: 24px;
	justify-content: center;
}

.kanban-column-tasks {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.kanban-add-button {
	margin-left: 40px;
}

li {
	list-style: none;
}

@media (max-width: 1280px) {
	.kanban-columns-list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
	}	
}

@media (max-width: 1024px) {
	.kanban-columns-list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
	}	
}

	
@media (max-width: 768px) {
	.kanban-columns-list {
		display: flex;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
		text-align: left;
	}

	.kanban-board {
		display: flex;
		justify-content: center;
		flex-direction: column-reverse;
		text-align: center;
	}

}

@media (max-width: 375px) {

}